<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="alllog" xsi:type="File" fileName="${basedir}/runtime/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger} ${callsite-linenumber}|${message}" />
		<target name="errlog" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger} ${callsite-linenumber}|${message}" fileName="${basedir}/runtime/error.log" />
        <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger} ${callsite-linenumber}|${message}"
				/>
    </targets>

    <rules>
		<logger name="*" minlevel="Debug" writeTo="alllog" />
		<logger name="*" minlevel="Error" writeTo="errlog" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>